*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    color: #D9D9D9;
    background-color: #262626;
    /*add back ground and font family -> import in html*/

}