*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    color: #D9D9D9;
    background-color: #262626;
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

/* #root{
    border: 1px green solid;
    width: 600px;
    
} */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid magenta; */
}

header{
    text-align: center;
    /* border: 1px solid yellow; */
    
}

header > h1{
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9FAD4;
}

header > p{
    font-size: 1rem;
    max-width: 352px;
    margin-left:auto ;
    margin-right: auto;
    color: #8E8E8E;
    margin-bottom: 20px;
}

.game--status{
    background-color: #10A95B;
    width: 360px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #F9FAD4;
    margin-block: 30px;

    

}
.game--status > p, h2{
    margin: 5px;
    
}

.game--status > h2{
    font-size: 1.25rem;
}

section.language--section{
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    justify-content: center;
    gap: 3px;
    /* border: 1px solid red; */
}

.chips{
    padding: 4.5px;
    border-radius: 3px;
    font-weight: bolder;
}

.letters--container{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}
.letters{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid #F9FAD4;
    background-color: #323232;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 25px;
}




