*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    color: #D9D9D9;
    background-color: #262626;
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

#root{
    /* border: 1px green solid; */
    width: 100vw;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    /* border: 1px solid yellow; */
    
}

header > h1{
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9FAD4;
}

header > p{
    font-size: 1rem;
    max-width: 352px;
    margin-left:auto ;
    margin-right: auto;
    color: #8E8E8E;
    margin-bottom: 20px;
}

.game--status{
    background-color: #10A95B;
    width: 352px;
    height: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #F9FAD4;

}
.game--status > p, h2{
    margin: 5px;
    
}

.game--status > h2{
    font-size: 1.25rem;
}

.language--section{
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* border: 1px solid red; */
}

span{
    padding: 7px;
    border-radius: 3px;
    font-weight: bolder;
}



